/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Syne:wght@400;800&display=swap');

/* basics ========================================================================================= */

html {
  font-family: "Source Sans Pro";
  font-size: 1rem;
  background: url("img/houseplant-1.jpg");
  background-size: cover;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syne";
  font-weight: 800;
}

img {
  width: 100%;
  max-width: 600px;
}

/* sections ======================================================================================== */

.container {
  background-color: #fff;
  border-radius: 10px;
  margin: 50px auto;
  padding: 0 50px 50px 50px;
  width: 50%;
  max-width: 650px;
}

header {
  text-align: center;
  margin-bottom: 50px
}

.form-group {
  margin-top: 20px;
}

/* forms =========================================================================================== */

#name-label,
#social-label,
#email-label,
#number-label,
#exp-label,
#act-label,
.comments {
  font-weight: 800;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Source Sans Pro";
  font-size: 1rem;
  padding: 15px;
  width: 100%;
  margin: 10px 0;
}

.input-list {
  display: block;
  margin: 10px 0;
}

.comments {
  margin-bottom: 5px;
}

textarea {
  height: 100px;
}

#submit {
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: "Syne";
  font-weight: 400;
  font-size: 1.5rem;
  padding: 15px 30px;
  width: 100%;
}